/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    //width: calc(100% - 250px); /* Resta el ancho de la barra lateral */
    //margin-left: 250px; /* Alinea con el espacio dejado por la barra lateral */
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-primary {
    background-color: #e74c3c; /* Cambiar color a rojo */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #c0392b; /* Rojo más oscuro al pasar el mouse */
  }
  
  
  .icon-settings {
    font-size: 20px;
    cursor: pointer;
  }
  .logout-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333; /* Color del texto e ícono */
    text-decoration: none; /* Remover subrayado si es un enlace */
    transition: color 0.3s ease; /* Suave transición para hover */
  }
  
  .logout-container:hover {
    color: #007bff; /* Cambiar color al pasar el mouse (color de acento) */
  }
  
  .logout-icon {
    font-size: 20px; /* Tamaño del ícono */
    margin-right: 8px; /* Espaciado entre el ícono y el texto */
  }
  
  .logout-text {
    font-size: 16px; /* Tamaño del texto */
    font-weight: 500; /* Peso del texto */
  }
  
  