<aside class="sidebar">
  <div class="sidebar-header">
    <img src="assets/logo.svg" class="logo" alt="logo" />
  </div>
  <ul class="nav-links">
    <!-- Elemento para Solicitudes de Compra -->
    <li class="nav-item" routerLink="/solicitudes" routerLinkActive="active">
      <i class="icon-requests"></i>
      <span>Solicitudes de compra</span>
    </li>
    <!-- Elemento para Proveedores -->
    <li class="nav-item" routerLink="/proveedores" routerLinkActive="active">
      <i class="icon-reports"></i>
      <span>Proveedores</span>
    </li>
  </ul>
</aside>
